<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title or 'Калькулятор налоговой нагрузки' }}</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
<header>
    <h1>Калькулятор налоговой нагрузки</h1>
</header>
<main>
    {% block content %}{% endblock %}

    <footer>
        <p class="muted"> Данные не сохраняются. Сделано в UPPETIT</p>
    </footer>
</main>
</body>
</html>
